sidebar {
    background-color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 5px;
    transition: 0.5s;
}

sidebar {
    color: #fff;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a7bd5+39,136a8a+79,136a8a+79,3a6073+100 */
   background: #3a7bd5; /* Old browsers */
   background: -moz-linear-gradient(-45deg, #3a7bd5 39%, #136a8a 79%, #136a8a 79%, #3a6073 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #3a7bd5 39%,#136a8a 79%,#136a8a 79%,#3a6073 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #3a7bd5 39%,#136a8a 79%,#136a8a 79%,#3a6073 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7bd5', endColorstr='#3a6073',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

sidebar ul {
    list-style: none;
}

sidebar {
    .logo {
        display: flex;
        justify-content: center;

        margin: 10px auto 30px auto;


        #big-logo{
            display: block;
            height: 45px;
        }

        #small-logo{
            display: none;
        }
    }
    .nav {
        margin: 20px 25px;

        .nav-item {
            display: flex;
            justify-content: left;

            height: 40px;
            padding: 0px 10px;
            margin: 3px 0px;
            vertical-align: middle;

            &.active, &:hover {
                background-color: rgba(9, 30, 66, 0.25);
                border-radius: 5px;

                -webkit-box-shadow: inset -28px -3px 89px -66px rgba(7,4,59,1);
                -moz-box-shadow: inset -28px -3px 89px -66px rgba(7,4,59,1);
                box-shadow: inset -28px -3px 89px -66px rgba(7,4,59,1);
            }

            a {
                width: 100%;

                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            .icon {
                padding: 0 16px 0 8px;
            }

            .display-name{
            }
        }
    }    
    &.mini{
        .logo {
            #big-logo{
                display: none;
            }

            #small-logo{
                display: block;
                height: 35px;
            }
        }
        .nav {
            margin: 20px 0px;

            .nav-item {
                a {
                    text-align: center;
                }

                .icon {
                    padding: 0px;
                    margin: 0px auto;
                }

                .display-name{
                    display: none;
                }
            }
        }
    }
}

main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 250px;
}